version: "3.8"

services:
  nextjs:
    build: .
    container_name: nextjs-dev
    ports:
      # exposing the port 8080 in dockerfile
      - "3000:8080" 
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev
